force-app/main/default/flows/Soft_Drink_Order_Create_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Check_Account_Exists</name>
        <label>Check Account Exists</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <description>Verifies that the Soft Drink Order has an associated Account before creating the follow-up Task. Prevents creating orphan Tasks with no related record.</description>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up_Task</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <description>When a Soft Drink Order is created with Status Open, creates a follow-up Task linked to the order Account with a due date 3 days from today. Runs asynchronously to avoid mixed DML and governor limit issues.</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDateFormula</name>
        <dataType>Date</dataType>
        <description>Calculates the Task due date as 3 days from the current date.</description>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <interviewLabel>Soft Drink Order Create Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Soft Drink Order Create Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <description>Creates a Task record linked to the order Account with Subject Follow up on Soft Drink Order and a due date 3 days from today. Assigned to the user who created the order.</description>
        <faultConnector>
            <targetReference>Log_Task_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up on Soft Drink Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Log_Task_Creation_Error</name>
        <label>Log Task Creation Error</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <description>Logs a custom notification or platform event when Task creation fails. Creates an error log record for debugging.</description>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ERROR: Failed to create follow-up Task for Soft Drink Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Soft_Drink_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_Async</name>
            <connector>
                <targetReference>Check_Account_Exists</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
